.card-container{
  margin: 10px;
  text-align: center;
}

.cards{
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.card{
  background: white;
  overflow: hidden;
  box-shadow: 0 0 15px rgb(0 0 0 / 50%);
  margin: 10px;
  width: 100%;
}

.cards :hover{
    transition: margin-top 0.5s;
    margin-top: 0;
}

.card img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-info{
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}